<!DOCTYPE html>
<html lang="es">
  <head>
    
    <!-- metas and lynks -->
    <%- include('../partials/metasBasics') %>
    <!-- metas and lynks -->

    <link rel="stylesheet" href="/css/product/register.css" />
    <title>Inicio</title>
  </head>

  <body>
    
    <!-- header -->
    <%- include('../partials/header') %>
    <!-- header -->


    <!-- NOTA IMPORTANTE: se debe terminar de estilar -->
    <!-- NOTA IMPORTANTE: se debe terminar de agregar o eliminar campos, volverlos más específicos -->
    <main>
        <div class="container-product-register">
            <form  class="form-product-register" action="/product" method="POST" enctype="multipart/form-data">
                <input type="text" name="name" placeholder="Nombre del producto">
                <!-- <input type="text" placeholder="Categoría"> -->
                <!-- <input type="text" placeholder="Color"> -->
                <!-- <input type="text" placeholder="Marca"> -->
                <!-- <input type="text" placeholder="Memoria"> -->
                <input type="text" name="price" placeholder="Precio">
                <input type="file" name="imgCel" id="imgCel" accept="image/jpg, image/jpeg, image/png" >
                <button type="submit">Registrar</button>
            </form>
        </div>
    </main>

     <!-- footer -->
     <%- include('../partials/footer') %>
     <!-- footer -->
    
  </body>
</html>