<!DOCTYPE html>
<html lang="es">

<head>

  <!-- metas and lynks -->
  <%- include('../partials/metasBasics') %>
    <!-- metas and lynks -->

    <link rel="stylesheet" href="/css/product/register.css" />
    <title>Inicio</title>
</head>

<body>

  <!-- header -->
  <%- include('../partials/header') %>
    <!-- header -->


    <!-- NOTA IMPORTANTE: se debe terminar de estilar -->
    <!-- NOTA IMPORTANTE: se debe terminar de agregar o eliminar campos, volverlos más específicos -->
    <main>
      <div class="container-product-register">
        <div class="title-register">
          REGISTRAR PRODUCTO: 
        </div>
        <form class="form-product-register" action="/product/register" method="POST"
          enctype="multipart/form-data">

          <div class="errorsList"><% if (typeof errorsList !='undefined') { %>
            <% errorsList.forEach(element => { %>
                <div class="error">- <%= element.msg %></div>
            <% }) %> 
            <% } %> 
        </div>

          <input type="text" name="name" placeholder="Nombre del producto" >
          <!-- <input type="text" placeholder="Categoría"> -->
          <select class="select" name="category" id="">
            <option value="">Categoría:</option>
            <option value="3">Oferta</option>
            <option value="2">Destacado</option>
          </select>
          <!-- <input type="text" placeholder="Color"> -->
          <select class="select" name="color" id="">
            <option value="">Color:</option>
            <option value="1">Azul</option>
            <option value="2">Rojo</option>
            <!-- <option value="black">Negro</option>
            <option value="white">Blanco</option> -->
          </select>
          <!-- <input type="text" placeholder="Marca"> -->
          <select class="select" name="mark" id="">
            <option value="">Marca:</option>
            <option value="1">Iphone</option>
            <option value="2">Xiaomi</option>
            <option value="3">Samsung</option>
            <option value="4">Motorola</option>
          </select>
          <!-- <input type="text" placeholder="Memoria"> -->
          <select class="select" name="memory" id="" >
            <option value="">Memoria:</option>
            <option value="4">4GB</option>
            <option value="5">8GB</option>
            <option value="6">16GB</option>
            <option value="7">32GB</option>
            <option value="4">64GB</option>
            <option value="5">128GB</option>
            <option value="6">256GB</option>
          </select>

          <!-- ram -->
          <select class="select" name="ram" id="" >
            <option value="">Memoria:</option>
            <option value="1">4GB</option>
            <option value="2">8GB</option>
            <option value="3">16GB</option>
            <option value="7">32GB</option>
            <option value="4">64GB</option>
            <option value="5">128GB</option>
            <option value="6">256GB</option>
          </select>
          <input type="text" name="price" placeholder="Precio" >
          <snap class="file">Imagen del dispositivo:<input type="file" class="input-file" name="imgCel" id="imgsCel" accept="image/jpg, image/jpeg, image/png" ></snap>
          <div class="btn-content"><button type="submit">REGISTRAR</button></div>
        </form>
      </div>
    </main>

    <!-- footer -->
    <%- include('../partials/footer') %>
      <!-- footer -->

</body>

</html>