<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/styledetalle.css">
    <img src="/public/img/ip.jpg">
    <img class="celu" src="/public/img/shopping.png">
</head>
<p class="hola">Iphone</p>
<body>

    <label>Categorías de interés</label>
<input type="checkbox" name="categoria" id="Camara">Cámara
<input type="checkbox" name="categoria" id="Ram">Ram
<input type="checkbox" name="categoria" id="Memoria">Memoria
<input type="checkbox" name="categoria" id="Pulgadas">Pulgadas
<input type="checkbox" name="categoria" id="Batería">Batería

<div class="button">
<button name="comprar" type="button">Comprar</button>
<button name="carrito" type="button">Carrito de compras</button>
</div>
</body>
</html>
