*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

/* Form Login Css */

    .container-login{
        border: red solid;
        min-height: 75vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .form-login{
        border: blue solid;
        border-radius: 10px;
        background-color: #ebebeb;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 40vh;
    }

    .form-login input{
        width: 200px;
        height: 35px;
        margin: 10px auto 10px auto;
        border-radius: 5px;
        border: none;
    }

    .form-login button{
        width: 200px;
        height: 35px;
    }

    .form-login input::placeholder{
        padding: 5px;
        font-style: italic;
    }

/* Form Login Css */

/* Media queries */

@media (min-width: 768px) {
    .form-login input{
        width: 350px;
    }
}

/* Media queries */