
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Lato', sans-serif;
}

/* header */

header{
    background-color: gray;
}

.navBar{

    display: flex;
    justify-content: space-between;
    align-items: center;
  
      height: 70px;

    top: -1px;
    background: #23233D;
  
    
    
}


.logo{
   
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
width: 90px;
left: 44px;
top: 13px;
}
.logo img{
    width: 80%;
}

.formBusqueda{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 290px;
    height: 40px;
    margin-right: 5px;
    background: #FFFFFF;
    border-radius: 30px;
}
.formBusqueda button {
    border-color: transparent;
    background: #FFFFFF;
    font-size: 22px;
    margin-right: 5px;
    border-radius: 30px;
    color: #AFB0B3;
} 
.formBusqueda .bar {
    border-color: transparent;
    background: #FFFFFF;
    font-size: 22px;
    margin-left: 10px;
    border-radius: 30px;
    height: 38px;
   
} 

.content-right{
    display: none;
    color: white;
    font-size: 22px;
    margin-right: 2em;
}

.user, .carShop, .question{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
 
}
/* header */

.options {
    text-align: center;
}



/* footer */
footer{
    background-color: #F6F6F6;
    color: #27293B;
   height: 15rem;
   
}
.content-footer{
    background-color: #F6F6F6;
    display: flex;
    justify-content: space-around;
    width: 90%;
    align-items: center;
    height: 15rem;
   
}

.logoFooter{
    display: none;
}
.logoFooter img{
    width: 100%;
}

/* footer */


@media (min-width: 768px) {
    .content-right{
        display: flex;
    }
    .logoFooter{
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}