@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");
.hola {
  font-weight: bold;
}

.truck {
  color: darkslateblue;
  display: flex;
  align-items: center;
  padding-left: 30px;
}
.tabla {
    font-size: 20px
    ;
}
#precio{
    font-size: 40px;
}
main {
  background-color: aquamarine;
}
.celu1 {
  border-radius: 10%;
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
  width: 500px;
}
.celu2 {
  width: 80px;
  border-radius: 10%;
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
  margin-left: 50px;
}


.button button {
  background-color: darkslateblue;
  color: white;
  width: 20%;
  border-radius: 20%;
}

.detalle {
  position: absolute;
  left: 680px;
  bottom: 240px;
  font-size: 35px;
  border-color: black;
  display: block;
  font-family: "Roboto";
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
}
td {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04aa6d;
  color: white;
}
td:hover {
  background-color: #ddd;
}
.lleva {
    padding-left: 15px;
}
td {
  border: 1px solid #ddd;
  padding: 8px;
}
