
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Lato', sans-serif;
}

/* header */

header{
    background-color: gray;
}

.navBar{

    display: flex;
    justify-content: space-between;
    align-items: center;
  
      height: 70px;

    top: -1px;
    background: #23233D;
  
    
    
}

.logo{
   
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
width: 90px;
left: 44px;
top: 13px;
}
.logo img{
    width: 80%;
}

.formBusqueda{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 290px;
    height: 40px;
    margin-right: 5px;
    background: #FFFFFF;
    border-radius: 30px;
}
.formBusqueda button {
    border-color: transparent;
    background: #FFFFFF;
    font-size: 22px;
    margin-right: 5px;
    border-radius: 30px;
    color: #AFB0B3;
} 
.formBusqueda .bar {
    border-color: transparent;
    background: #FFFFFF;
    font-size: 22px;
    margin-left: 10px;
    border-radius: 30px;
    height: 38px;
   
} 

.content-right{
    display: none;
    color: white;
    font-size: 22px;
    margin-right: 2em;
}

.user, .carShop, .question{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
 
}
/* header */


/* MAIN */

.slider{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    min-height: 90vh;
    background: linear-gradient(338.58deg, #28F8D3 6.21%, rgba(0, 70, 205, 0.78) 89.52%);
}

.fi{
    display: none;
}
.up{
    display: flex;
    justify-content: center;
    width: 100%;
}
.down{
    width: 100%;
    flex-direction: column;
    text-align: center;
}
.down label{
    font-weight: 600;
    font-size: 24px;
    line-height: 20px;
}

.slider div a{
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid #23233D;
    border-radius: 30px;
    text-decoration: none;
    font-size: 28px;
    color: black;
    font-weight: 600;
}

.checks{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.checks input{
    margin-left: 5px;
    margin-right: 5px;
}

.miniCards{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .card{
    
} */

/* /MAIN */






.options {
    text-align: center;
}



/* footer */
footer{
    background-color: #F6F6F6;
    color: #27293B;
   height: 15rem;
   
}
.content-footer{
    background-color: #F6F6F6;
    display: flex;
    justify-content: space-around;
    width: 90%;
    align-items: center;
    height: 15rem;
   
}

.logoFooter{
    display: none;
}
.logoFooter img{
    width: 100%;
}

/* footer */


@media (min-width: 768px) {
    .content-right{
        display: flex;
    }
    .logoFooter{
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}