<!DOCTYPE html>
<html lang="es">
  <head>
    
    <!-- metas and lynks -->
    <%- include('./partials/metasBasics') %>
    <!-- metas and lynks -->

    <link rel="stylesheet" href="/css/styledetalle.css" />
    <title>Inicio</title>
  </head>

  <body>
    
    <!-- header -->
    <%- include('./partials/header') %>
    <!-- header -->

    <main>
      <div>
        <img class="celu1" src="img/motorolaNexus6.jpg" />
        <img class="celu2" src="img/sonyXperia.jpg" />

        <div class="detalle">
          <b class="hola">Motorola Nexus 6 32 Gb Blanco Nube 3 Gb Ram</b>
          <p id="precio">$ 255.000</p>
          <table>
            <tr>
              <td>Memoria</td>
              <td>Ram</td>
              <td>Cámara</td>
              <td>Pantalla</td>
              <td>Batería</td>
            </tr>
            <tr>
              <td>32Gb</td>
              <td>3</td>
              <td>16 Píxeles</td>
              <td>6 Pulgadas</td>
              <td>3220 mAh</td>
            </tr>
          </table>
          <div class="lleva">
          <div class="button">
            <button name="carrito" type="button">Carrito de compras</button>
            <div class="truck">
              <i class="fas fa-truck truck"></i>
            </div>
          </div>
        </div>
          <div>
            <label>Color</label>
            <select name="perfil" id="perfil">
              <option value="Blanco">Blanco</option>
              <option value="Negro">Negro</option>
            </select>
          </div>
        </div>
      </div>
    </main>

     <!-- footer -->
     <%- include('./partials/footer') %>
     <!-- footer -->
    
  </body>
</html>
