<!DOCTYPE html>
<html lang="es">

<head>
    <!-- metas and lynks -->
    <%- include('./partials/metasBasics') %>
    <!-- metas and lynks -->

    <title>Inicio</title>
</head>

<body>

    <!-- header -->
    <%- include('./partials/header') %>
    <!-- header -->

    <main>

        <div class="slider">
            <div class="up">
                <!-- <div><i class="fi fi-rr-angle-left"></i></div> -->
                <div><img src="/img/home/cel-slider.png" alt="imagen de teléfono" width="150px" srcset=""></div>
                <!-- <div><i class="fi fi-rr-angle-right"></i></div> -->
            </div>
            <div class="down">
                <div>
                    <label>Nombre del teléfono</label>
                </div>
                <div>
                    <label>Precio</label>
                </div>
            </div>
            <div><a href="#">Ver más</a></div>
        </div>
        <section class="checks">
            <div> <input type="radio" name="radio" id=""> </div>
            <div> <input type="radio" name="radio" id=""> </div>
            <div> <input type="radio" name="radio" id=""> </div>
        </section>

        <section class="miniCards">
            <div class="card">
                
            </div>
        </section>

        <br><br><br><br><br>
        <ul class="options">
            <li><a href="/user/register">Registro de usuario</a></li>
            <li><a href="/user/login">Login</a></li>
            <li><a href="/categories">Categorías</a></li>
            <li><a href="/detail">Detalles del producto</a></li>
            <li><a href="/product/register">Registrar producto</a></li>
            <li><a href="/product/update">Actualizar producto</a></li>
        </ul>
        <br><br><br><br><br>
    </main>

    <!-- footer -->
    <%- include('./partials/footer') %>
    <!-- footer -->

</body>
</html>