<!DOCTYPE html>
<html lang="es">

<head>
    <!-- metas and lynks -->
    <%- include('./partials/metasBasics') %>
    <!-- metas and lynks -->

    <title>Inicio</title>
</head>

<body>

    <!-- header -->
    <%- include('./partials/header') %>
    <!-- header -->

    <main>
        <br><br><br><br><br>
        <ul class="options">
            <li><a href="/user/register">Registro de usuario</a></li>
            <li><a href="/user/login">Login</a></li>
            <li><a href="/categories">Categorías</a></li>
            <li><a href="/detail">Detalles del producto</a></li>
            <li><a href="#">Carrito de compras</a></li>
        </ul>
        <br><br><br><br><br>
    </main>

    <!-- footer -->
    <%- include('./partials/footer') %>
    <!-- footer -->

</body>
</html>