<!DOCTYPE html>
<html lang="es">
<head>
    
    <!-- metas and lynks -->
    <%- include('./partials/metasBasics') %>
    <!-- metas and lynks -->

    <link rel="stylesheet" href="/css/styleLogin.css">
    <title>Login</title>
</head>
<body>

    <!-- header -->
    <%- include('./partials/header') %>
    <!-- header -->

    <main>

        <div class="container-login">
            <form  class="form-login" action="">
                <input type="text" placeholder="Usuario">
                <input type="password" placeholder="Contraseña" name="pass" id="pass">
                <button type="submit">Ingresar</button>
            </form>
        </div>

    </main>

    <!-- footer -->
    <%- include('./partials/footer') %>
    <!-- footer -->
    
</body>
</html>