<footer>
    <div class="contentup-footer">
        <div class="leftFooter">
        <div class="logoFooter"><img src="/img/header-logo.png" alt="logo"></div>
        
    </div>
        <div>
            <ul>
                <h3>Compra fácil y seguro tu celular usado:</h3>
                <br>
                <li>Todos nuestros equipos son legales.</li>
                <li>Garantizamos la calidad de nuestros equipos.</li>
                <li>Ofrecemos los mejores precios del mercado.</li>
            </ul>
        </div>
        <div class =icons>
            
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-reddit"></i>
        </div>
    </div>
    <div class="contentdown-footer">
        <p>Todos los derechos reservados 2nd Chance S.A.S, Colombia 2022</p>
    </div>
</footer>