<footer>
    <div class="footer">
        <div class="logoFooter"><img src="/img/logoProvisional2.png" alt="logo"></div>
        <div>
            <ul>
                Información
                <li>Bueno</li>
                <li>Bonito</li>
                <li>Barato</li>
            </ul>
        </div>
        <div>
            <p>REDES</p>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-reddit"></i>
        </div>
    </div>
</footer>