<header>
    <div class="navBar">
        <div class="menuBurguer"><i class="fa-solid fa-bars"></i></div>

        <div class="logo">
            <img src="/img/logoProvisional2.png" alt="logo">
        </div>

        <div class="content-right">
            <form class="formBusqueda" action="">
                <input type="text">
                <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
            <div class="carShop"><i class="fa-solid fa-cart-shopping"></i></div>
            <div class="message"><i class="fa-solid fa-inbox"></i></div>
        </div>
    </div>
</header>