<header>
    <div class="navBar">
        <div class="menuBurguer"><i class="fa-solid fa-bars"></i></div>

        <div class="logo">
            <img src="/img/header-logo.png" alt="logo">
        </div>

        <div class="content-right">
            <form class="formBusqueda" action="">
                <input type="text" class="bar" placeholder="Buscar">
                <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
            <div class="question"><i class="fi fi-rr-interrogation"></i></div>
            <div class="user"><i class="fi fi-rr-user"></i></div>
            <div class="carShop"><i class="fi fi-rr-shopping-cart" style="color: aliceblue;"></i></div>
        </div>
    </div>
</header>